<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" >
<title>Kosai System</title>
<link rel="stylesheet" type="text/css" href="/static/styles/style.css">
<script type="text/javascript" src="/static/script/jquery.2.0.3.min.js"></script>
<script type="text/javascript" src="/static/script/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		common.setCenter($(".mainPlane"), $(document)).setCenter($(".loginbox"), $(".mainPlane"));
	});
</script>
</head>
<body>
	<div class="title">Kosai System</div>
	<div class="mainPlane">
		<form action="/login" method="get">
			<div class="loginbox">
				<div class="login_line"><div class="left">User:</div><div class="right"><input type="text" name="user" value=""></div></div>
				<div class="login_line"><div class="left">Pass:</div><div class="right"><input type="text" name="pass" value=""></div></div>
				<div class="login_line"><div class="left"></div><div class="right"><input type="submit" value="Sign in"></div></div>
			</div>
		</form>
	</div>
	
	<div class="remark">The Application for cc</div>
</body>
</html>