@cancel_base-color : #565757;
@cancel_color : #1e2b33;
@cancel_font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;

.base-background-color-cancel {
	background-color: @cancel_base-color;
}
html {
	.base-background-color-cancel
}